In [2]:
#import dependencies

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [16]:
happy_path2015 = "2015.csv"
happy_df2015 = pd.read_csv(happy_path2015)

In [17]:
happy_path2016 = "2016.csv"
happy_df2016 = pd.read_csv(happy_path2016)

In [18]:
alco_path = 'alcohol.csv'
alco_df = pd.read_csv(alco_path)
alco_df = alco_df.loc[alco_df['Year'] ==2015]
alco_df=alco_df.rename(columns={"Entity":"Country"})

In [15]:
happy_alco = pd.merge(happy_df2015,alco_df, on="Country")
happy_alco

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Code,Year,"Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,CHE,2015,11.58
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,ISL,2015,8.74
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,DNK,2015,10.36
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,NOR,2015,7.52
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,CAN,2015,8.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,RWA,2015,9.26
142,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,BEN,2015,2.97
143,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,SYR,2015,0.28
144,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,BDI,2015,7.03
145,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,TGO,2015,2.37

In [24]:
obesity_path = 'obesity.csv'
obesity_df = pd.read_csv(obesity_path)
obesity_df = obesity_df[['Location', 'Value','Period' ]]
obesity_df

          Location            Value  Period
0         Viet Nam  1.6 [0.8 – 2.8]    2016
1           Uganda  1.8 [0.9 – 3.3]    2016
2           Rwanda  1.9 [0.8 – 3.6]    2016
3         Ethiopia  1.9 [0.8 – 3.7]    2016
4         Thailand  10 [7.4 – 13.1]    2016
...            ...              ...     ...
24565  South Sudan          No data    1975
24566  South Sudan          No data    1975
24567        Sudan          No data    1975
24568        Sudan          No data    1975
24569        Sudan          No data    1975

[24570 rows x 3 columns]